@import "base/base";

@import "components/logo";
@import "components/search";
@import "components/user-nav";
@import "components/side-nav";
@import "components/legal-text";
@import "components/gallery";
@import "components/hotel-overview";
@import "components/btn-inline";
@import "components/paragraph";
@import "components/list";
@import "components/recommend";
@import "components/reviews";

@import "layout/container";
@import "layout/header";
@import "layout/content";
@import "layout/sidebar";
@import "layout/hotel-view";
@import "layout/details";
@import "layout/description";
@import "layout/user-reviews";